{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Category list</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Id</th>
                <th>Ccomp</th>
                <th>Ccreationdate</th>
                <th>Cmodifydate</th>
                <th>Ccreationuser</th>
                <th>Cmodifyuser</th>
                <th>Isdeleted</th>
                <th>Cnumber</th>
                <th>Cname</th>
                <th>Rparentcategory</th>
                <th>Csort</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('category_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.cComp }}</td>
                <td>{% if entity.cCreationDate %}{{ entity.cCreationDate|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if entity.cModifyDate %}{{ entity.cModifyDate|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ entity.cCreationUser }}</td>
                <td>{{ entity.cModifyUser }}</td>
                <td>{{ entity.isDeleted }}</td>
                <td>{{ entity.cNumber }}</td>
                <td>{{ entity.cName }}</td>
                <td>{{ entity.rParentCategory }}</td>
                <td>{{ entity.cSort }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('category_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('category_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('category_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
