{% extends '::base.html.twig' %}
{% block title %}{% trans %}item.category.title.List{% endtrans %}{% endblock title  %}
{% block body -%}
<h1>{% trans %}item.category.title.List{% endtrans %}</h1>
{% trans %}item.category.info.ListInfo{% endtrans %}
<table class="records_list table table-striped table-bordered table-hover">
    <thead>
        <tr>
            <th></th>
            <th>{% trans %}item.category.label.Number{% endtrans %}</th>
            <th>{% trans %}item.category.label.Name{% endtrans %}</th>
            <th>{% trans %}item.category.label.ParentCategory{% endtrans %}</th>
            <th>{% trans %}item.category.label.Sort{% endtrans %}</th>
        </tr>
    </thead>
    <tbody>
        {% for entity in entities %}
            <tr>
                <td>
                    <a href="{{ path('category_show', { 'id': entity.id }) }}" class="btn btn-primary"><i class="icon-zoom-in"></i></a>
                    <!--<a href="{{ path('category_edit', { 'id': entity.id }) }}" class="btn btn-warning"><i class="icon-edit"></i></a>-->
                    <!--<a href="{{ path('category_delete', { 'id': entity.id }) }}" class="btn btn-danger"><i class="icon-remove"></i></a>-->
                </td>
                <td>{{ entity.cNumber }}</td>
                <td>{{ entity.cName }}</td>
                <td>{{ entity.parentCategory }}</td>
                <td>{{ entity.cSort }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('category_new') }}" class="btn btn-success">
        <li class="icon-plus"></li>
        {% trans %}item.category.action.Create{% endtrans %}
    </a>
    {% endblock %}
