{# app/Resources/views/base.html.twig #}
<!DOCTYPE html>
<html lang="de">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0"> <!-- Bootstrap -->
        <title>{% block title %}Welcome!{% endblock %} | Libetto</title>
        <meta name="description" content="">
        <meta name="author" content="">

        <!--[if lt IE 9]>
          <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->

        {% block stylesheets %}
            {% stylesheets
              filter='cssrewrite,?yui_css'
              output='Resources/css/main.css'
              combine=true
              debug=false
              '@LibettoCoreBundle/Resources/css/bootstrap.css' 
              '@LibettoCoreBundle/Resources/css/bootstrap-responsive.min.css' 
              '@LibettoCoreBundle/Resources/css/font-awesome.min.css'
              '@LibettoCoreBundle/Resources/css/bootswatch.css'
              '@LibettoCoreBundle/Resources/css/w2ui-1.2.css'
              '@LibettoCoreBundle/Resources/css/main.css'
            %}
        <link rel="stylesheet" href="{{ asset_url }}" type="text/css" />
            {% endstylesheets %}
        {% endblock %}
           

        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>

    <body id="top" data-spy="scroll" data-target=".subnav" data-offset="0">
        <div class="container-fluid" style="width: auto;">
            <div class="pull-right">{{ locale_switcher() }}</div>        
        </div>
        <div class="container-fluid" style="width: auto;">
           &nbsp;    
        </div>            
        <div class="container-fluid">
            <!-- Navbar
            ================================================== -->
            <!--<section id="navbar">-->
            <div class="navbar navbar-inverse ">
                <div class="navbar-inner">
                    <div class="container-fluid" style="width: auto;">
                        <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </a>
                        <a class="brand" href="{{ app.request.getBaseURL() }}" title="Libetto" alt="Libetto">Libetto</a>
                        <div class="nav-collapse">
                            <div class="nav-collapse collapse navbar-responsive-collapse pull-left">   
                                    {{ knp_menu_render('LibettoMaintenanceBundle:Builder:mainMenu', {'currentClass': 'active'}) }}
                                    {{ knp_menu_render('LibettoCustomerBundle:Builder:mainMenu', {'currentClass': 'active'}) }}
                                    {{ knp_menu_render('LibettoSupplierBundle:Builder:mainMenu', {'currentClass': 'active'}) }}
                                </div> 

                                <div class="nav-collapse collapse navbar-responsive-collapse pull-right">   
                                {{ knp_menu_render('LibettoUserBundle:Builder:mainMenu', {'currentClass': 'active'}) }}
                                    </div>                                
                                    <form class="navbar-search pull-right" action="">
                                        <input type="text" class="search-query span2" placeholder="{% trans %}default.form.placeholder.Search{% endtrans %}">
                                    </form>
                                </div><!-- /.nav-collapse -->
                            </div>
                        </div><!-- /navbar-inner -->
                    </div><!-- /navbar -->
                    
                    <!--</section>-->
        {% for flashMessage in app.session.flashbag.get('error') %}
                    <div class="alert alert-error">
                {{ flashMessage }}
                        </div>
        {% endfor %}  
        {% for flashMessage in app.session.flashbag.get('warning') %}
                        <div class="alert alert-warning">
                {{ flashMessage }}
                            </div>
        {% endfor %}  
        {% for flashMessage in app.session.flashbag.get('success') %}
                            <div class="alert alert-success">
                {{ flashMessage }}
                                </div>
        {% endfor %}  
        {% block body %}

        {% endblock %}
                                <br><br><br><br>

                                <!-- Footer
                                 ================================================== -->
                                <hr>

                                <footer id="footer">
                                    <p class="pull-right"><a href="#top">{% trans %}default.action.Back to top{% endtrans %}</a></p>
                                    <!--  <div class="links">
                                          <a href="">Link 1</a>
                                          <a href="">Link 2</a>
                                          <a href="">Link 3</a>
                                          </div>
                                          test -->
                                    </p>
                                </footer>

                            </div><!-- /container -->



                            <!-- javascript
                            ================================================== -->
            {% javascripts 
              filter='?yui_js'
              output='Resources/js/main.js'
              combine=true
              debug=false
              "@LibettoCoreBundle/Resources/js/jquery.min.js" 
              "@LibettoCoreBundle/Resources/js/jquery.smooth-scroll.min.js"
              "@LibettoCoreBundle/Resources/js/bootstrap.min.js" 
              "@LibettoCoreBundle/Resources/js/bootswatch.js"
            %}
                            <script src="{{ asset_url }}" type="text/javascript"></script>
            {% endjavascripts %}
            {% javascripts 
              output='Resources/js/main2.js'
              combine=false
              "@LibettoCoreBundle/Resources/js/w2ui-1.2.min.js"
            %}
                            <script src="{{ asset_url }}" type="text/javascript"></script>
            {% endjavascripts %}

                        </body>
                    </html>
