{# app/Resources/views/base.html.twig #}
<!DOCTYPE html>
<html lang="de">
    <head>
        <meta http-equiv="x-ua-compatible" content="IE=edge" />
        <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-touch-fullscreen" content="yes">
        
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0"> <!-- Bootstrap -->
        <title>{% block title %}Welcome!{% endblock %} | Tests</title>
        <meta name="description" content="">
        <meta name="author" content="">

        <!--[if lt IE 9]>
          <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->

        {% block stylesheets %}
            {% stylesheets
              filter='cssrewrite,?yui_css'
              output='Resources/css/main.css'
              combine=true
              debug=false
              '@VisionsCoreBundle/Resources/css/bootstrap.css' 
              '@VisionsCoreBundle/Resources/css/bootstrap-responsive.min.css' 
              '@VisionsCoreBundle/Resources/css/font-awesome.min.css'
              '@VisionsCoreBundle/Resources/css/bootswatch.css'
              '@VisionsCoreBundle/Resources/js/jquery-ui-1.10.3/themes/base/minified/jquery-ui.min.css'
              '@VisionsCoreBundle/Resources/js/datatables/media/css/jquery.dataTables_themeroller.css'
              '@VisionsCoreBundle/Resources/js/snapjs/snap.css'
              '@VisionsCoreBundle/Resources/css/main.css'
            %}
        <link rel="stylesheet" href="{{ asset_url }}" type="text/css" />
            {% endstylesheets %}
        {% endblock %}

        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>

    <body id="top" data-spy="scroll" data-target=".subnav" data-offset="0">
        {% block snapdrawers %}
            <div class="snap-drawers">
                <div class="snap-drawer snap-drawer-left">
                    <div>
                        <ul class="nav nav-list">
                            <li class="nav-header">Navigation</li>
                            <li class="active"><a href="{{ app.request.getBaseURL() }}">Home</a></li>
                            <li><a href="#">Noch ein Link</a></li>
                        </ul>
                    </div>
                </div>
                <div class="snap-drawer snap-drawer-right">
                    <div class="navbar navbar-inverse navbar-fixed-top">
                        <div class="navbar-inner" style="padding-right: 50px;">
                            <form class="navbar-search pull-right" action="">
                                <input id="matchcode-search" type="text" class="search-query span2" placeholder="{% trans %}default.form.placeholder.Search{% endtrans %}">
                            </form>
                        </div> 
                    </div>
                    <div style="padding-top: 40px;">    
                        <ul id="matchcode-results">
                            <li><a href="#">Keine Ergebnisse.</a></li>                              
                        </ul>
                    </div>
                </div>
            </div>
        {% endblock %}
        <div id="content" class="container-fluid snap-content">
            <!-- Navbar
            ================================================== -->
            <!--<section id="navbar">-->
            {% block navigation %}
            <div class="navbar navbar-inverse ">
                <div class="navbar-inner">
                    <div class="container-fluid" style="width: auto;">
                        <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </a>
                        <a class="brand" href="{{ app.request.getBaseURL() }}" title="Visions" alt="Visions">Visions</a>
                        <div class="nav-collapse">
                            <div class="nav-collapse collapse navbar-responsive-collapse pull-left">   

                                &nbsp;
                            </div> 
                            <div class="nav-collapse pull-right">{{ locale_switcher() }}</div>

                            <div class="nav-collapse collapse navbar-responsive-collapse pull-right">   
                                {{ knp_menu_render('VisionsUserBundle:Builder:mainMenu', {'currentClass': 'active'}) }}
                                </div>

                                <form class="navbar-search pull-right" action="">
                                    <input type="text" class="search-query span2" placeholder="{% trans %}default.form.placeholder.Search{% endtrans %}">
                                </form>
                            </div><!-- /.nav-collapse -->

                        </div>
                    </div><!-- /navbar-inner -->
                </div><!-- /navbar -->
        {% endblock %}
        {% block messages %}
                    <!--</section>-->
            {% for flashMessage in app.session.flashbag.get('error') %}
                    <div class="alert alert-error">
                    {{ flashMessage }}
                        </div>
            {% endfor %}  
            {% for flashMessage in app.session.flashbag.get('warning') %}
                        <div class="alert alert-warning">
                    {{ flashMessage }}
                            </div>
            {% endfor %}  
            {% for flashMessage in app.session.flashbag.get('success') %}
                            <div class="alert alert-success">
                    {{ flashMessage }}
                                </div>
            {% endfor %} 
        {% endblock %}
           <div id="content">
            {% block body %}
            {% endblock %}
        </div>

                            <!-- Footer
                             ================================================== -->
                            <hr>

                            <footer id="footer">
                                <p class="pull-right"><a href="#top">{% trans %}default.action.Back to top{% endtrans %}</a></p>
                                <!--  <div class="links">
                                      <a href="">Link 1</a>
                                      <a href="">Link 2</a>
                                      <a href="">Link 3</a>
                                      </div>
                                      test -->
                                </p>
                            </footer>

                        </div><!-- /container -->



                        <!-- javascript
                        ================================================== -->
                            {% block javascript %}                                                                
                                {% javascripts 
                                  filter='?yui_js'
                                  output='Resources/js/main.js'
                                  combine=false
                                  debug=false
                                  package='assetic'
                                  "@VisionsCoreBundle/Resources/js/jquery.min.js" 
                                  "@VisionsCoreBundle/Resources/js/jquery.smooth-scroll.min.js"
                                  "@VisionsCoreBundle/Resources/js/jquery-ui-1.10.3/ui/jquery-ui.js"
                                  "@VisionsCoreBundle/Resources/js/datatables/media/js/jquery.dataTables.js"
                                  "@VisionsCoreBundle/Resources/js/bootstrap.min.js" 
                                  "@VisionsCoreBundle/Resources/js/bootswatch.js"
                                  "@VisionsCoreBundle/Resources/js/snapjs/snap.js"
                                  "@VisionsCoreBundle/Resources/js/angular.min.js"
                                  '@VisionsCoreBundle/Resources/js/mainDatatables.js'
                                  "@VisionsCoreBundle/Resources/js/main.js"
                                %}
                                <script src="{{ asset_url }}" type="text/javascript"></script>

                                <script type="text/javascript">
                                    var baseUrl = "{{ app.request.getBaseURL() }}";
                                </script>                                    
                                {% endjavascripts %}
                            {% endblock %}
                        </body>
                    </html>