{# app/Resources/views/base.html.twig #}
<!DOCTYPE html>
<html lang="de">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0"> <!-- Bootstrap -->
        <title>{% block title %}Welcome!{% endblock %} | Tests</title>
        <meta name="description" content="">
        <meta name="author" content="">

        <!--[if lt IE 9]>
          <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->

        {% block stylesheets %}
            {% stylesheets
              filter='cssrewrite,?yui_css'
              output='Resources/css/main.css'
              combine=true
              debug=false
              '@VisionsCoreBundle/Resources/css/bootstrap.css' 
              '@VisionsCoreBundle/Resources/css/bootstrap-responsive.min.css' 
              '@VisionsCoreBundle/Resources/css/font-awesome.min.css'
              '@VisionsCoreBundle/Resources/css/bootswatch.css'
              '@VisionsCoreBundle/Resources/css/w2ui-1.2.css'
              '@VisionsCoreBundle/Resources/js/jquery-ui-1.10.3/themes/base/minified/jquery-ui.min.css'
              "@VisionsCoreBundle/Resources/js/datatables/media/css/jquery.dataTables_themeroller.css"
              '@VisionsCoreBundle/Resources/css/main.css'
            %}
        <link rel="stylesheet" href="{{ asset_url }}" type="text/css" />
            {% endstylesheets %}
        {% endblock %}

        {% block javascript_head %}                            
            {% javascripts 
              filter='?yui_js'
              output='Resources/js/main_head.js'
              combine=true
              debug=false
              "@VisionsCoreBundle/Resources/js/jquery.min.js" 
              "@VisionsCoreBundle/Resources/js/jquery.smooth-scroll.min.js"
              "@VisionsCoreBundle/Resources/js/jquery-ui-1.10.3/ui/jquery-ui.js"
            %}
            <script src="{{ asset_url }}" type="text/javascript"></script>
            {% endjavascripts %}
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>

    <body id="top" data-spy="scroll" data-target=".subnav" data-offset="0">

        <div class="container-fluid">
            <!-- Navbar
            ================================================== -->
            <!--<section id="navbar">-->
            <div class="navbar navbar-inverse ">
                <div class="navbar-inner">
                    <div class="container-fluid" style="width: auto;">
                        <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </a>
                        <a class="brand" href="{{ app.request.getBaseURL() }}" title="Visions" alt="Visions">Visions</a>
                        <div class="nav-collapse">
                            <div class="nav-collapse collapse navbar-responsive-collapse pull-left">   

                                &nbsp;
                            </div> 
                            <div class="nav-collapse pull-right">{{ locale_switcher() }}</div>

                            <div class="nav-collapse collapse navbar-responsive-collapse pull-right">   
                                {{ knp_menu_render('VisionsUserBundle:Builder:mainMenu', {'currentClass': 'active'}) }}
                                </div>

                                <form class="navbar-search pull-right" action="">
                                    <input type="text" class="search-query span2" placeholder="{% trans %}default.form.placeholder.Search{% endtrans %}">
                                </form>
                            </div><!-- /.nav-collapse -->

                        </div>
                    </div><!-- /navbar-inner -->
                </div><!-- /navbar -->


                <!--</section>-->
        {% for flashMessage in app.session.flashbag.get('error') %}
                <div class="alert alert-error">
                {{ flashMessage }}
                    </div>
        {% endfor %}  
        {% for flashMessage in app.session.flashbag.get('warning') %}
                    <div class="alert alert-warning">
                {{ flashMessage }}
                        </div>
        {% endfor %}  
        {% for flashMessage in app.session.flashbag.get('success') %}
                        <div class="alert alert-success">
                {{ flashMessage }}
                            </div>
        {% endfor %}  
        {% block body %}

        {% endblock %}
                            <br><br><br><br>

                            <!-- Footer
                             ================================================== -->
                            <hr>

                            <footer id="footer">
                                <p class="pull-right"><a href="#top">{% trans %}default.action.Back to top{% endtrans %}</a></p>
                                <!--  <div class="links">
                                      <a href="">Link 1</a>
                                      <a href="">Link 2</a>
                                      <a href="">Link 3</a>
                                      </div>
                                      test -->
                                </p>
                            </footer>

                        </div><!-- /container -->



                        <!-- javascript
                        ================================================== -->
                            {% block javascript %}                            
                                {% javascripts 
                                  filter='?yui_js'
                                  output='Resources/js/main.js'
                                  combine=true
                                  debug=false
                                  "@VisionsCoreBundle/Resources/js/datatables/media/js/jquery.dataTables.js"
                                  "@VisionsCoreBundle/Resources/js/bootstrap.min.js" 
                                  "@VisionsCoreBundle/Resources/js/bootswatch.js"
                                  "@VisionsCoreBundle/Resources/js/main.js"
                                %}
                        <script src="{{ asset_url }}" type="text/javascript"></script>
                                {% endjavascripts %}
                                {% javascripts 
                                  output='Resources/js/main2.js'
                                  combine=false
                                  "@VisionsCoreBundle/Resources/js/w2ui-1.2.min.js"
                                %}
                        <script src="{{ asset_url }}" type="text/javascript"></script>
                                {% endjavascripts %}
                            {% endblock %}
                    </body>
                </html>