{% extends "::base.html.twig" %}

{% block title %}LibettoMaintenanceBundle:JQUITest:loadAjax{% endblock %}


{% block stylesheets%}
    {{parent()}}
    {% stylesheets '@LibettoMaintenanceBundle/Resources/public/css/*' filter='cssrewrite' %}
<link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}

{% block javascript %}
    {% javascripts '@LibettoMaintenanceBundle/Resources/public/js/*' %}
<script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}

<script>

    /*
     var cache = {};
     $("#user").autocomplete({
     minLength: 1,
     delay: 500,
     source: function(request, response) {
     var term = request.term;
     if (term in cache) {
     response(cache[ term ]);
     return;
     }
     $.getJSON("{{ path('load_ajax') }}", request, function(data, status, xhr) {
     cache[ term ] = data;
     response(data);
     });
     }
     });
     
     
     $("#mastertable").autocomplete({
     minLength: 1,
     delay: 500,
     source: function(request, response) {
     var term = request.term;
     
     if (term in cache) {
     response(cache[ term ]);
     return;
     }
     
     $.getJSON("{{ path('load_ajax_mastertable') }}", request, function(data, status, xhr) {
     cache[ term ] = data;
     response(data);
     });
     }
     });
     */

    $('#form').w2form({
        name: 'form',
        url: 'server/post',
        fields: [
            {name: 'first_name', type: 'text', required: true},
            {name: 'last_name', type: 'text', required: true},
            {name: 'comments', type: 'text'},
            {name: 'address1', type: 'text', required: true},
            {name: 'address2', type: 'text'},
            {name: 'city', type: 'text', required: true},
            {name: 'state', type: 'text', required: true},
            {name: 'zip', type: 'int', required: true},
            {name: 'short_bio', type: 'text'},
            {name: 'talk_name', type: 'text', required: true},
            {name: 'description', type: 'text'}
        ],
        tabs: [
            {id: 'tab1', caption: 'General'},
            {id: 'tab2', caption: 'Address'},
            {id: 'tab3', caption: 'About'}
        ],
        actions: {
            reset: function() {
                this.clear();
            },
            save: function() {
                this.save();
            }
        }
    });

    $('#grid').w2grid({
        name: 'grid',
        url: '{{ path('load_ajax') }}',
        show: {
            toolbar: true,
            footer: true,
            toolbarSave: true
        },
        columns: [
            {field: 'recid', caption: 'ID', size: '50px', sortable: true},
            {field: 'fname', caption: 'First Name', size: '30%', sortable: true, editable: {type: 'text', inTag: 'maxlength=30'}},
            {field: 'lname', caption: 'Last Name', size: '30%', sortable: true, editable: {type: 'text'}},
            {field: 'age', caption: 'Age', size: '70px', style: 'text-align: center', editable: {type: 'int', style: 'text-align: center'}},
            {field: 'sex', caption: 'Sex', size: '70px', editable: {type: 'text', inTag: "maxlength=1", style: 'text-align: center'}},
            {field: 'dbo', caption: 'DOB', size: '120px', editable: {type: 'date'}},
            {field: 'email', caption: 'Email', size: '40%', editable: {type: 'text'}},
        ]
        
    });


    </script>
{% endblock %}

{% block body %}
<!--
    <div id="form" style="width: 750px;">
        <div class="w2ui-page page-0">
            <div class="w2ui-label">First Name:</div>
            <div class="w2ui-field">
                <input name="first_name" type="text" maxlength="100" size="60"/>
            </div>
            <div class="w2ui-label">Last Name:</div>
            <div class="w2ui-field">
                <input name="last_name" type="text" maxlength="100" size="60"/>
            </div>
            <div class="w2ui-label">Comments:</div>
            <div class="w2ui-field">
                <textarea name="comments" type="text" style="width: 385px; height: 80px; resize: none"></textarea>
            </div>
        </div>
        <div class="w2ui-page page-1">
            <div class="w2ui-label">Address Line 1:</div>
            <div class="w2ui-field">
                <input name="address1" type="text" maxlength="100" size="60"/>
            </div>
            <div class="w2ui-label">Address Line 2:</div>
            <div class="w2ui-field">
                <input name="address2" type="text" maxlength="100" size="60"/>
            </div>
            <div class="w2ui-label">City:</div>
            <div class="w2ui-field">
                <input name="city" type="text" maxlength="50" size="30"/>
            </div>
            <div class="w2ui-label">State:</div>
            <div class="w2ui-field">
                <input name="state" type="text" maxlength="2" size="2"/>
            </div>
            <div class="w2ui-label">Zip:</div>
            <div class="w2ui-field">
                <input name="zip" type="text" maxlength="10" size="10"/>
            </div>
        </div>
        <div class="w2ui-page page-2">
            <div class="w2ui-label">Short Bio:</div>
            <div class="w2ui-field">
                <textarea name="short_bio" type="text" style="width: 385px; height: 80px; resize: none"></textarea>
            </div>
            <div class="w2ui-label">Talk Name:</div>
            <div class="w2ui-field">
                <input name="talk_name" type="text" maxlength="100" size="60"/>
            </div>
            <div class="w2ui-label">Talk Description:</div>
            <div class="w2ui-field">
                <textarea name="description" type="text" style="width: 385px; height: 80px; resize: none"></textarea>
            </div>
        </div>

        <div class="w2ui-buttons">
            <input type="button" value="Reset" name="reset">
            <input type="button" value="Save" name="save">
        </div>
    </div>
-->


    <div id="grid" style="width: 100%; height: 400px;"></div>
    <br>
    <input type="button" onclick="console.log(w2ui['grid'].getChanged());
        alert('Changed records are displayed in the console');" value="Get Changed">
{% endblock %}
