{% extends '::base.html.twig' %}
{% block title %}{% trans %}item.producttext.title.Edit{% endtrans %}{% endblock title  %}
{% block body -%}
<h1>{% trans %}item.producttext.title.Edit{% endtrans %}</h1>

<form action="{{ path('producttext_update', { 'id': entity.id }) }}" method="post" {{ form_enctype(edit_form) }}>
    <input type="hidden" name="_method" value="PUT" />
        {{ form_widget(edit_form) }}

    <button type="submit" class="btn btn-success">
        <li class="icon-save"></li> {% trans %}item.producttext.action.Save{% endtrans %}
    </button>
</form>
<hr/>
<form action="{{ path('producttext_delete', { 'id': entity.id }) }}" method="post">
    <input type="hidden" name="_method" value="DELETE" />{{ form_widget(delete_form) }}
    <button type="submit" class="btn btn-danger">
        <li class="icon-remove"></li> {% trans %}item.producttext.action.Delete{% endtrans %}
    </button>
</form>

<a href="{{ path('producttext', {'productid':entity.rProduct}) }}" class="btn">
    <li class="icon-backward"></li> {% trans %}core.Back to the list{% endtrans %}
</a>
{% endblock %}
