{% extends '::base.html.twig' %}

{% block title %}
{% trans with {'%product%': product} %} item.producttext.title.List{% endtrans%}
{% endblock title  %}

{% block body -%}
    <h1>{% trans with {'%product%': product} %} item.producttext.title.List{% endtrans%}</h1>

    <table class="records_list table table-striped table-bordered table-hover">
        <thead>
            <tr>
                <th></th>
                <th>{%trans%}item.producttext.label.Language{%endtrans%}</th>
                <th>{%trans%}item.producttext.label.Name{%endtrans%}</th>
                <th>{%trans%}item.producttext.label.ShortName{%endtrans%}</th>
                <th>{%trans%}item.producttext.label.Description{%endtrans%}</th>
                <th>{%trans%}item.producttext.label.DescriptionType{%endtrans%}</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('producttext_show', { 'id': entity.id }) }}" class="btn btn-primary"><i class="icon-zoom-in"></i></a></td>
                <td>{{ entity.cLanguage }}</td>
                <td>{{ entity.cName }}</td>
                <td>{{ entity.cShortName }}</td>
                <td>{{ entity.cDescription }}</td>
                <td>{{ entity.cDescriptionType }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <a href="{{ path('producttext_new', { 'productid': product.id }) }}" class="btn btn-success">
        <li class="icon-plus"></li>
        {% trans %}item.producttext.action.Create{% endtrans %}
    </a>
    {% endblock %}
