{% extends '::base.html.twig' %}
{% block title %}{{ entity }}{% endblock title  %}
{% block body -%}
<h1>{% trans %}item.product.title.Show{% endtrans %} {{ entity }}</h1>

<table class="record_properties">
    <tbody>
        <tr>
            <th>{% trans %}core.label.Company{% endtrans %}</th>
            <td>{{ entity.cComp }}</td>
        </tr>
        <tr>
            <th>{% trans %}core.label.CreationDate{% endtrans %}</th>
            <td>{{ entity.cCreationDate|date('Y-m-d H:i:s') }}</td>
        </tr>
        <tr>
            <th>{% trans %}core.label.ModifyDate{% endtrans %}</th>
            <td>{{ entity.cModifyDate|date('Y-m-d H:i:s') }}</td>
        </tr>
        <tr>
            <th>{% trans %}core.label.CreationUser{% endtrans %}</th>
            <td>{{ entity.cCreationUser }}</td>
        </tr>
        <tr>
            <th>{% trans %}core.label.ModifyUser{% endtrans %}</th>
            <td>{{ entity.modifyUser }}</td>
        </tr>
        <tr>
            <th>{% trans %}item.product.label.Number{% endtrans %}</th>
            <td>{{ entity.cNumber }}</td>
        </tr>
        <tr>
            <th>{% trans %}item.product.label.Name{% endtrans %}</th>
            <td>{{ entity.cName }}</td>
        </tr>
        <tr>
            <th>{% trans %}item.product.label.ShortName{% endtrans %}</th>
            <td>{{ entity.cShortName }}</td>
        </tr>
        <tr>
            <th>{% trans %}item.product.label.Description{% endtrans %}</th>
            <td>{{ entity.cDescription }}</td>
        </tr>
        <tr>
            <th>{% trans %}item.product.label.Category{% endtrans %}</th>
            <td>{{ entity.category }}</td>
        </tr>
        <tr>
            <th>{% trans %}item.product.label.ProductGroup{% endtrans %}</th>
            <td>{{ entity.productGroup }}</td>
        </tr>
    </tbody>
</table>
<a href="{{ path('product') }}" class="btn">
    <li class="icon-backward"></li> {% trans %}core.Back to the list{% endtrans %}
</a>
<hr/>
<a href="{{ path('product_edit', { 'id': entity.id }) }}" class="btn btn-warning">
    <li class="icon-edit"></li> {% trans %}item.product.action.Edit{% endtrans %}
</a>
<br/><br/>
<form action="{{ path('product_delete', { 'id': entity.id }) }}" method="post">
    <input type="hidden" name="_method" value="DELETE" />{{ form_widget(delete_form) }}
    <button type="submit" class="btn btn-danger">
        <li class="icon-remove"></li> {% trans %}item.product.action.Delete{% endtrans %}
    </button>
</form>
{% endblock %}
