{% extends '::base.html.twig' %}

{% block body -%}
    <h1>{% trans %}supplier.supplier.title.SupplierLead edit{% endtrans %}</h1>
<form action="{{ path('supplierlead_update', { 'id': entity.id }) }}" method="post" {{ form_enctype(edit_form) }}>
    <input type="hidden" name="_method" value="PUT" />

                {{ form_start(edit_form) }}
                {{ form_errors(edit_form) }}

                {{ form_row(edit_form.cNumber) }}
                {{ form_row(edit_form.cInfo) }}    
    
                {{ form_row(edit_form.rContact) }}
                {{ form_row(edit_form.rTermsOfPayment) }}
                {{ form_row(edit_form.rPricelist) }}
                {{ form_row(edit_form.rContactGroup) }}

                    <a href="{{ path('supplierlead') }}" class="btn btn-default">
            <i class="icon-arrow-left"></i> 
            {% trans %}supplier.action.Back to the list{% endtrans %}
        </a>
                <button type="submit" class="btn btn-success"><i class="icon-save"></i> {% trans %}supplier.supplier.form.action.Save{% endtrans %}</button>                             
            {{ form_end(edit_form) }}
</form>
        <form action="{{ path('supplierlead_delete', { 'id': entity.id }) }}" method="post">
            <input type="hidden" name="_method" value="DELETE" />
            {{ form_widget(delete_form) }}
            <button type="submit" class="btn btn-danger"><i class="icon-trash"></i> {% trans %}supplier.supplier.form.action.Delete{% endtrans %}</button>
        </form> 
{% endblock %}





