
        {% extends '::base.html.twig' %}

{% block body -%}
    <h1>{% trans %}supplier.supplier.title.SupplierLead{% endtrans %}</h1>

    <table class="record_properties" >
        <tbody>
            <tr>
                <th>{% trans %}Id{% endtrans %}</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>{% trans %}supplier.supplier.form.label.Number{% endtrans %}</th>
                <td>{{ entity.cNumber }}</td>
            </tr>
            <tr>
                <th>{% trans %}supplier.supplier.form.label.Contact{% endtrans %}</th>
                <td>{{ entity.contact }}</td>
            </tr>
            <tr>
                <th>{% trans %}supplier.supplier.form.label.Info{% endtrans %}</th>
                <td>{{ entity.cInfo }}</td>
            </tr>
            <tr>
                <th>{% trans %}supplier.supplier.form.label.ContactGroup{% endtrans %}</th>
                <td>{{ entity.rContactGroup }}</td>
            </tr>
            <tr>
                <th>{% trans %}supplier.supplier.form.label.TermsOfPayment{% endtrans %}</th>
                <td>{{ entity.rTermsOfPayment }}</td>
            </tr>
            <tr>
                <th>{% trans %}supplier.supplier.form.label.PriceList{% endtrans %}</th>
                <td>{{ entity.rPricelist }}</td>
            </tr>
        </tbody>
    </table>
    <p>
        <a href="{{ path('supplierlead') }}" class="btn btn-default">
            <i class="icon-arrow-left"></i> 
            {% trans %}supplier.action.Back to the list{% endtrans %}
        </a>
        <a href="{{ path('supplierlead_edit', { 'id': entity.id }) }}" class="btn btn-primary">
            <i class="icon-edit"></i> 
            {% trans %}supplier.supplier.form.action.Edit{% endtrans %}
        </a>

        <form action="{{ path('supplierlead_delete', { 'id': entity.id }) }}" method="post">
            <input type="hidden" name="_method" value="DELETE" />
            {{ form_widget(delete_form) }}
            <button type="submit" class="btn btn-danger"><i class="icon-trash"></i> {% trans %}supplier.supplier.form.action.Delete{% endtrans %}</button>
        </form>
   </p>
{% endblock %}
