{% extends '::base.html.twig' %}

{% block body -%}
<h1>{% trans %}customer.customer.title.Customer list{% endtrans %}</h1>

<table class="records_list table table-striped table-bordered table-hover">
    <thead>
        <tr>
            <th>{% trans %}customer.customer.form.label.Number{% endtrans %}</th>
            <th>{% trans %}customer.customer.form.label.ContactGroup{% endtrans %}</th>
            <th>{% trans %}customer.customer.form.label.TermsOfPayment{% endtrans %}</th>
            <th>{% trans %}customer.customer.form.label.PriceList{% endtrans %}</th>
            <th>{% trans %}customer.customer.form.label.Comp{% endtrans %}</th>
            <th>
                {% trans %}customer.customer.form.label.ModifyDate{% endtrans %}
            </th>
            <th>{% trans %}customer.customer.form.label.ModifyUser{% endtrans %}</th>
            <th>{% trans %}customer.customer.form.label.IsDeleted{% endtrans %}</th>                
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('customer_show', { 'id': entity.id }) }}">{{ entity.cNumber }}</a></td>
                <td>{{ entity.rContactGroup }}</td>
                <td>{{ entity.rTermsOfPayment }}</td>
                <td>{{ entity.rPricelist }}</td>
                <td>{{ entity.cComp }}</td>
                <td>{% if entity.cModifyDate %}{{ entity.cModifyDate|date('d.m.Y H:i:s') }}{% endif %}</td>
                <td>{{ entity.cModifyUser }}</td>
                <td>{% if entity.isDeleted %}<i class="icon-remove"></i>{% endif %}</td>                
                <td>
                    <a href="{{ path('customer_edit', { 'id': entity.id }) }}" class="btn btn-primary"><i class="icon-pencil"></i> {% trans %}customer.customer.form.action.Edit{% endtrans %}</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <br />
    <a href="{{ path('customer_new') }}" class="btn btn-success">
        <i class="icon-plus"></i>
        {% trans %}customer.customer.form.action.CreateNewCustomer{% endtrans %}
        
    </a>

    {% endblock %}
