{% extends '::base.html.twig' %}

{% block body -%}
<h1>Customer list</h1>

<table class="records_list">
    <thead>
        <tr>
            <th>Cnumber</th>
            <th>Rcontactgroup</th>
            <th>Rtermsofpayment</th>
            <th>Rpricelist</th>
            <th>Ccomp</th>
            <th>
                Cmodifydate
            </th>
            <th>Cmodifyuser</th>
            <th>Isdeleted</th>                
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('customer_show', { 'id': entity.id }) }}">{{ entity.cNumber }}</a></td>
                <td>{{ entity.rContactGroup }}</td>
                <td>{{ entity.rTermsOfPayment }}</td>
                <td>{{ entity.rPricelist }}</td>
                <td>{{ entity.cComp }}</td>
                <td>{% if entity.cModifyDate %}{{ entity.cModifyDate|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ entity.cModifyUser }}</td>
                <td>{% if entity.isDeleted %}<i class="icon-remove"></i>{% endif %}</td>                
                <td>
                    <a href="{{ path('customer_edit', { 'id': entity.id }) }}" class="btn btn-primary"><i class="icon-pencil"></i> edit</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <br />
    <a href="{{ path('customer_new') }}" class="btn btn-success">
        <i class="icon-plus"></i>
        Create a new entry
    </a>

    {% endblock %}
