{% extends "::base.html.twig" %}

{% block title %}Libetto-Maintenance{% endblock %}

{% block body %}
<form action="{{ path('master_edit') }}" method="post" {{ form_enctype(form) }} class="form-horizontal well">
        {{ form_errors(form) }}

        {{ form_row(form.cTableName) }}
        {{ form_row(form.cFieldName) }}
        {{ form_row(form.cType) }}
        {{ form_row(form.cIsUnique) }}
        {{ form_row(form.cIsIndex) }}
        {{ form_row(form.cOrderId) }}

        <br>
        <ul class="inline">
            <li >
                {{ form_row(form.btExit) }}
            </li>
            <li >
                {{ form_row(form.btSaveExit) }}
            </li>
            <li >
                {{ form_row(form.btSaveNew) }}
            </li>
       </ul>
       {{ form_rest(form) }}

       {# <button type="button" class="btn-warning" onclick="location.href='{{ path('master_list') }}'">Abbrechen</button>
        
      //  <input type="submit" value="Speichern und Neu" name="bt_save_new" class="btn-success" /> #}

                </form>


{% endblock %}


