{# empty Twig template #}

{# *** GridView - Export *** #}
{% block grid_exports %}
<div class="exports" style="float:right">

                {{ 'Export'|trans }}
    <select name="{{grid.hash}}[{{ constant('APY\\DataGridBundle\\Grid\\Grid::REQUEST_QUERY_EXPORT') }}]">
        <option value="-1"></option>
                    {% for key, export in grid.exports %}
        <option value="{{key}}">{{ export.title|trans }}</option>
                    {% endfor %}
    </select>
    <button class='btn' onclick="submit()"><i class='icon-share' ></i> Export </button>
</div>

{% endblock %} {#Ende GridButton#}