{% extends "::base.html.twig" %}


{% block title %}Master-Table List{% endblock %}
{% block stylesheets %} 
        {{parent()}} 

    {% stylesheets
        '@LibettoMaintenanceBundle/Resources/public/css/*'
        output='css/grid.css'
        filter='?yui_css'
    %}
<link href="{{ asset_url }}" rel="stylesheet" media="screen" />
    {% endstylesheets %}
{% endblock %}
{% block body %}


{# ***GridView*** #}
{{ grid(grid,_self) }}



{# % block grid_exports%}
    <div class="exports" style="float:right">
    {{ 'Export'|trans }}
    <select name="{{grid.hash}}[{{ constant('APY\\DataGridBundle\\Grid\\Grid::REQUEST_QUERY_EXPORT') }}]" >
        <option value="-1"></option>
                    {% for key, export in grid.exports %}
        <option value="{{key}}">{{ export.title|trans }}</option>
                    {% endfor %}
    </select>
    </div>#}
    
    
    <br class='clearfix'/>
    <br />
    
    <div class='clearfix' style="float:left">
    <button type="button" class='btn btn-success' onclick="location.href = '{{ path('master_edit') }}'"><i class='icon-plus' ></i> Neue </button>
    <button type="button" class='btn btn-danger' onclick="location.href = '{{ path('master_refresh') }}'"><i class='icon-refresh' ></i> Tabellenstruktur aktualisieren </button>
    
    </div>
   {# % endblock % #}
{% endblock %}