{% extends '::base.html.twig' %}
{% use 'VisionsRedmineBundle:Projects:widgetProjectList.html.twig' with javascript as widgetProjectList_styles %}
{% use 'VisionsRedmineBundle:Projects:widgetProjectDetails.html.twig' with javascript as widgetProjectDetails_styles %}

{% block body -%}
    {% if username == 'anon.' %}
<h1>{% trans %}dashboard.default.messages.no login{% endtrans %}</h1>
            {% trans %}dashboard.default.messages.please log in{% endtrans %} 
<a href="{{ path('fos_user_security_login') }}">
            {% trans %}dashboard.default.action.login{% endtrans %}</a>
    {% else %}
        {% trans with {'%name%': username} %} dashboard.default.messages.welcome{% endtrans%}
    {%endif%}
<br />


<div class="row">
    <div class="span4">
        <div class="hero-unit">
            <div class="preloader">
                Loading...
            </div> 
            {{ block('redmineProjectList') }}
        </div>
    </div>
    <div class="span8">
        <div class="hero-unit">
            {{ block('redmineProjectDetails') }}
        </div>
    </div>
</div>
{% endblock %}


{% block javascript -%}
    {{ parent() }}
    {{ block('widgetProjectList_styles') }}
    {{ block('widgetProjectDetails_styles') }}
    {% javascripts 
      filter=''
      output='Resources/js/dashboard_index.js'
      combine=true
      debug=false
      "@VisionsCoreBundle/Resources/js/swiper/idangerous.swiper-2.1.min.js"
      "@VisionsCoreBundle/Resources/js/swiper/idangerous.swiper.scrollbar-2.1.js"
      "@VisionsDashboardBundle/Resources/js/dashboard.js"
    %}
    <script src="{{ asset_url }}" type="text/javascript"></script>
    {% endjavascripts %}
{% endblock %}        