{% extends '::base.html.twig' %}

{% block title %}
{% trans with {'%product%': product} %} item.media.title.List{% endtrans%}
{% endblock title  %}

{% block body -%}
<h1>{% trans with {'%product%': product} %} item.media.title.List{% endtrans%}</h1>

<table class="records_list table table-striped table-bordered table-hover">
    <thead>
        <tr>
            <th></th>
            <th>{%trans%}item.media.label.Path{%endtrans%}</th>
            <th>{%trans%}item.media.label.Type{%endtrans%}</th>
            <th>{%trans%}item.media.label.Text{%endtrans%}</th>
        </tr>
    </thead>
    <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('media_show', { 'id': entity.id }) }}" class="btn btn-primary"><i class="icon-zoom-in"></i></a></td>
                <td>{{ entity.cPath }}</td>
                <td>{{ entity.cType }}</td>
                <td>{{ entity.cText }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <a href="{{ path('media_new', { 'productid': product.id }) }}" class="btn btn-success">
        <li class="icon-plus"></li>
        {% trans %}item.media.action.Create{% endtrans %}
    </a>
    {% endblock %}
