{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Media</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Ccomp</th>
                <td>{{ entity.cComp }}</td>
            </tr>
            <tr>
                <th>Ccreationdate</th>
                <td>{{ entity.cCreationDate|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Cmodifydate</th>
                <td>{{ entity.cModifyDate|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Ccreationuser</th>
                <td>{{ entity.cCreationUser }}</td>
            </tr>
            <tr>
                <th>Cmodifyuser</th>
                <td>{{ entity.cModifyUser }}</td>
            </tr>
            <tr>
                <th>Isdeleted</th>
                <td>{{ entity.isDeleted }}</td>
            </tr>
            <tr>
                <th>Rrefid</th>
                <td>{{ entity.rRefId }}</td>
            </tr>
            <tr>
                <th>Cpath</th>
                <td>{{ entity.cPath }}</td>
            </tr>
            <tr>
                <th>Ctype</th>
                <td>{{ entity.cType }}</td>
            </tr>
            <tr>
                <th>Ctext</th>
                <td>{{ entity.cText }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('media') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('media_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>
        <form action="{{ path('media_delete', { 'id': entity.id }) }}" method="post">
            <input type="hidden" name="_method" value="DELETE" />
            {{ form_widget(delete_form) }}
            <button type="submit">Delete</button>
        </form>
    </li>
</ul>
{% endblock %}
